@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-highlight underline underline-offset-8;
  }
  pre {
    @apply m-4 p-4 bg-dark-800 rounded-md ring-1;
  }
  ul li {
    @apply ml-4 list-disc;
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}